<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ec66132f-3ff8-498a-bc09-dcf94a184aa0/resourcegroups/TransactionProcessorResourceGroup/providers/Microsoft.Web/sites/TransactionProcessor20221226213419</ResourceId>
    <ResourceGroup>TransactionProcessorResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://transactionprocessor20221226213419.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>d76a8cb1-df9b-46e7-8f06-e57448063f69</ProjectGuid>
    <MSDeployServiceURL>transactionprocessor20221226213419.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TransactionProcessor20221226213419</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$TransactionProcessor20221226213419</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <TargetFramework>net7.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <ApiResourceId>/subscriptions/ec66132f-3ff8-498a-bc09-dcf94a184aa0/resourceGroups/CommonAPIManagerResourceGroup/providers/Microsoft.ApiManagement/service/K2284425-SAPM-CW1/apis/transaction-processor</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
  </PropertyGroup>
</Project>